:root {
    --color-white: #ffffff;
    --color-bg: #f4f7fb;
    --color-primary: #2599e6;
    --color-primary-600: rgb(38, 101, 235);
    --color-accent: #7c3aed;
    --color-muted: #94a3b8;
    --color-black: #0f172a;

    --color-sidebar-gradient-start: #37cde8;
    --color-sidebar-gradient-end: #31aeed;
    --color-badge-bg: rgba(107, 92, 255, 0.2);
    --color-badge-text: #3b82f6;
    --color-hover-bg: rgba(69, 131, 255, 0.3);
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 240px;
    background: linear-gradient(180deg, var(--color-sidebar-gradient-start) 0%, var(--color-sidebar-gradient-end) 100%);
    border-radius: 0px 14px 14px 0px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 8px 24px rgba(10, 15, 35, 0.06);
    transition: width 0.35s;
    z-index: 1;

    &.collapsed {
        width: 72px;
        padding: 18px 15px;

        .menu .label,
        .brand-text,
        .badge,
        .theme-toggle .bx,
        .footer-actions .label,
        .container-logotipo {
            display: none;
        }

        .brand-avatar {
            width: 42px;
            height: 42px;
            font-size: 15px;
        }

        .menu-btn {
            justify-content: center;
        }
    }

    .sidebar-top {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        gap: 40px;
    }

    .container-header-company {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .toggle-btn {
            background: transparent;
            border: none;
            width: 36px;
            height: 36px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: transform .25s, background .2s;

            &:hover {
                background: rgba(0, 0, 0, 0.04);
            }

            i {
                font-size: 30px;
                color: var(--color-white);
            }
        }

        .container-logotipo {
            width: 130px;

            img {
                width: 100%;
            }
        }
    }

    .brand {
        display: flex;
        width: 100%;
        gap: 12px;
        align-items: center;
    }

    .brand-avatar {
        width: 48px;
        height: 48px;
        border-radius: 12px;
        background: linear-gradient(135deg, white, rgb(140, 203, 255));
        color: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-family: Inter, sans-serif;
        box-shadow: 0 6px 18px rgba(88, 72, 214, 0.12);

        img{
            height: 30px;
            width: 30px;
        }
    }

    .brand-text {
        h3 {
            font-size: 15px;
            display: block;
            color: var(--color-white);
        }

        p {
            font-size: 13px;
            color: rgba(255, 255, 255, 0.8);
            margin-top: 2px;
            font-weight: 700;
        }
    }
}

/* MENU */
.menu {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .menu-btn {
        display: flex;
        align-items: center;
        gap: 12px;
        width: 100%;
        padding: 10px 12px;
        border-radius: 10px;
        border: none;
        background: transparent;
        font-size: 14px;
        text-align: left;
        cursor: pointer;
        position: relative;
        transition: background .18s, transform .18s;

        i {
            font-size: 21px;
            min-width: 20px;
            display: inline-flex;
            justify-content: center;
            color: rgba(255, 255, 255, 0.85);
        }

        .label {
            flex: 1;
            display: inline-block;
            white-space: nowrap;
            color: rgba(255, 255, 255, 0.9);
            font-weight: 600;
        }

        .badge {
            background: var(--color-badge-bg);
            color: var(--color-badge-text);
            font-weight: 600;
            padding: 4px 8px;
            border-radius: 999px;
            font-size: 12px;
        }

        &:hover {
            background: var(--color-hover-bg);
            transform: translateY(-2px);

            i {
                color: var(--color-primary-600);
            }
        }

        &.active {
            background: var(--color-primary);
            color: var(--color-white);

            .label {
                color: var(--color-white);
            }

            i {
                color: rgba(255, 255, 255, 0.95);
            }

            .badge {
                background: rgba(255, 255, 255, 0.18);
                color: var(--color-white);
            }
        }
    }
}

/* FOOTER */
.footer-sidebar {
    width: 100%;
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    .footer-actions {
        width: 100%;
        display: flex;
        gap: 8px;
        align-items: center;

        a{
            width: 100%;
        }

        .menu-btn {
            display: flex;
            align-items: center;
            gap: 12px;
            width: 100%;
            padding: 10px 12px;
            border-radius: 10px;
            border: none;
            background: transparent;
            font-size: 14px;
            text-align: left;
            cursor: pointer;
            position: relative;
            transition: background .18s, transform .18s;
            color: rgba(255, 255, 255, 0.9);


            i {
                font-size: 21px;
                color: rgba(255, 255, 255, 0.8);
            }

            &:hover {
                background: var(--color-hover-bg);
                transform: translateY(-2px);

                i {
                    color: var(--color-primary-600);
                }
            }
        }
    }
}

/* RESPONSIVITY */
@media (max-width: 900px) {
    .sidebar {
        left: 16px;
        top: 16px;
        width: 72px;
        padding: 12px;

        &.collapsed {
            width: 56px;
        }
    }

    .content {
        margin-left: calc(72px + 40px);
    }
}